@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable highlight color on tap */
html {
  -webkit-tap-highlight-color: transparent;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 7px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: hsl(var(--background));
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
  background: hsl(var(--border) / 0.8);
  border-radius: 5px;
}

/* Scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--border) / 0.8);
  border-radius: 5px;
}

@layer base {
  :root {
    --background: 214 23% 12%;
    --foreground: 0 0% 95%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 256 61% 50%;
    --primary-foreground: 210 20% 98%;
    --secondary: 213 26% 20%;
    --secondary-foreground: 213 26% 20%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 72% 50%;
    --destructive-foreground: 210 20% 98%;
    --border: 0 0% 28%;
    --input: 227 16% 11%;
    --ring: 263.4 70% 50.4%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --transluced: 132 100% 1% / 0.25;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes infinite-banner {
  from {
    transform: translateX(-0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes menu-show {
  from {
    opacity: 0;
    transform: scale(0.5) translate(10%, -50%);
  }
  to {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
}

@keyframes menu-hide {
  from {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
  to {
    opacity: 0;
    transform: scale(0.5) translate(10%, -50%);
  }
}

@keyframes content-show {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes content-hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlay-hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
